.git
.github
node_modules
.next
out
build
npm-debug.log*
*.tsbuildinfo
.env
.env*.local
.env.production
.DS_Store
.vscode
.idea
README.md
DEPLOYMENT.md
deploy
compose.yaml
compose.staging.yaml
Dockerfile
.dockerignore
